/* color palette from <https://github.com/vuejs/theme> */
:root {
  --carbon-white: #ffffff;
  --carbon-gray-10: #f4f4f4;
  --carbon-gray-30: #c6c6c6;

  --carbon-black: #000000;
  --carbon-gray-100: #161616;
  --carbon-gray-90: #262626;
  --carbon-gray-80: #393939;
  --carbon-gray-70: #525252;
  --carbon-gray-60: #6f6f6f;
  --carbon-gray-50: #8d8d8d;
  --carbon-gray-40: #a8a8a8;

  --carbon-purple-60: #8a3ffc;
  --carbon-purple-50: #a56eff;
  --carbon-purple-40: #be95ff;

  --carbon-red-40: #ff8389;
  --carbon-red-40: #ffb3b8;

  --carbon-divider-light-1: rgba(60, 60, 60, 0.29);
  --carbon-divider-light-2: rgba(60, 60, 60, 0.12);
  --carbon-divider-dark-1: rgba(84, 84, 84, 0.65);
  --carbon-divider-dark-2: rgba(84, 84, 84, 0.48);

  --carbon-text-light-1: var(--carbon-indigo);
  --carbon-text-light-2: rgba(60, 60, 60, 0.66);
  --carbon-text-dark: var(--carbon-white);
  --carbon-text-dark-10: var(--carbon-gray-10);
  --carbon-text-dark-30: var(--carbon-gray-30);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--carbon-white);
  --color-background-soft: var(--carbon-gray-10);
  --color-background-mute: var(--carbon-white-mute);

  --color-border: var(--carbon-divider-light-2);
  --color-border-hover: var(--carbon-divider-light-1);

  --color-heading: var(--carbon-text-light-1);
  --color-text: var(--carbon-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--carbon-gray-90);
    --color-background-soft: var(--carbon-black-soft);
    --color-background-mute: var(--carbon-black-mute);

    --color-border: var(--carbon-divider-dark-2);
    --color-border-hover: var(--carbon-divider-dark-1);

    --color-heading: var(--carbon-text-dark);
    --color-text-10: var(--carbon-text-dark-10);
    --color-text-30: var(--carbon-text-dark-30);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'IBMPlexSans-Regular';
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'IBMPlexSans-Medium';
  font-size: 1rem;
  color: var(--color-text-30);
}

h3 {
  font-family: 'IBMPlexSans-Regular';
  font-size: 0.875rem;
  color: var(--color-text-30);
}
